In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
# suppress scientific notation for large wei numbers
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Get data

#### load nyan_strategy data

In [3]:
# nyan_strategy_raw = requests.get("https://api.covalenthq.com/v1/42161/tokens/0x7864BA11676B8cc286a7367b3cfd504968920B3a/token_holders/?block-height=672014&page-size=3000&key=REDACTED")

In [4]:
# nyan_strategy_stakers = pd.DataFrame(nyan_strategy_raw.json()['data']['items'])

In [5]:
# nyan_strategy_stakers.to_csv('NYANSTRATEGY-stakers-at-block-672014-raw.csv', index=False)
nyan_strategy_stakers = pd.read_csv('./NYANSTRATEGY-stakers-at-block-672014-raw.csv')

In [6]:
nyan_strategy_stakers[['contract_name', 'contract_ticker_symbol', 'contract_address', 'address', 'balance', 'block_height']]

,contract_name,contract_ticker_symbol,contract_address,address,balance,block_height
0,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x6af235d2bbe050e6291615b71ca5829658810142,133164538479811653099091,672014
1,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x5fb8b9512684d451d4e585a1a0aabfb48a253c67,110752296490852968420319,672014
2,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x6e26d91c264ab73a0062ccb5fb00becfab3acc6b,80972942317325730466459,672014
3,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x56968c268465bd4453cd7ea8f8376996b2702bc4,55568116019050433810642,672014
4,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x4ffef8e8a75c20ab0ddf96c50d2457277d27923c,48797372610356453635565,672014
...,...,...,...,...,...,...
2913,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0xb616340a10f14218e5db19cdadda686a9557658b,5867591998660,672014
2914,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0xe48f56a8f621025e2b96adeccdaba85e99613228,39,672014
2915,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x65f570384d6cc157a15eac9bfd9da88364d59b7f,36,672014
2916,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x69d5f8e1c2b8982a17f893f2658f3adb6a14929b,36,672014
2917,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0xcbcdca647cfda9283992193604f8718a910b42fc,35,672014

In [7]:
nyan_strategy_stakers.shape

(2918, 10)

#### load nyan_eth data

In [8]:
# nyan_eth_raw = requests.get("https://api.covalenthq.com/v1/42161/tokens/0xf285108D3aa4DC9041364b64297979979a7Ec7B9/token_holders/?block-height=672014&page-size=3000&key=REDACTED")

In [9]:
# nyan_eth_stakers = pd.DataFrame(nyan_eth_raw.json()['data']['items'])

In [10]:
# nyan_eth_stakers.to_csv('NYANETH-stakers-at-block-672014-raw.csv', index=False)
nyan_eth_stakers = pd.read_csv('NYANETH-stakers-at-block-672014-raw.csv')

In [11]:
nyan_eth_stakers[[x for x in nyan_eth_stakers.columns if 'Unnamed' not in x]].to_csv('NYANETH-stakers-at-block-672014-raw.csv',index=False)

In [12]:
nyan_eth_stakers.shape

(487, 10)

In [13]:
nyan_strategy_stakers[['contract_name', 'contract_ticker_symbol', 'contract_address', 'address', 'balance', 'block_height']]

,contract_name,contract_ticker_symbol,contract_address,address,balance,block_height
0,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x6af235d2bbe050e6291615b71ca5829658810142,133164538479811653099091,672014
1,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x5fb8b9512684d451d4e585a1a0aabfb48a253c67,110752296490852968420319,672014
2,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x6e26d91c264ab73a0062ccb5fb00becfab3acc6b,80972942317325730466459,672014
3,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x56968c268465bd4453cd7ea8f8376996b2702bc4,55568116019050433810642,672014
4,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x4ffef8e8a75c20ab0ddf96c50d2457277d27923c,48797372610356453635565,672014
...,...,...,...,...,...,...
2913,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0xb616340a10f14218e5db19cdadda686a9557658b,5867591998660,672014
2914,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0xe48f56a8f621025e2b96adeccdaba85e99613228,39,672014
2915,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x65f570384d6cc157a15eac9bfd9da88364d59b7f,36,672014
2916,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0x69d5f8e1c2b8982a17f893f2658f3adb6a14929b,36,672014
2917,NYAN Stake Shares,NYAN-SHARES,0x7864ba11676b8cc286a7367b3cfd504968920b3a,0xcbcdca647cfda9283992193604f8718a910b42fc,35,672014

## determine airdrop distributions

### example of quantiles
for educational purposes

In [14]:
# example of quantiles
pd.qcut(
    [0, 1, 2, 3, 4, 5, 5.5, 6, 8], # range of numbers to process
    3, # number of quantiles to bucket into 
    labels=["smaller", "bigger", "biggest"] # bucket names
)

['smaller', 'smaller', 'smaller', 'bigger', 'bigger', 'bigger', 'biggest', 'biggest', 'biggest']
Categories (3, object): ['smaller' < 'bigger' < 'biggest']

### determine quantile splits

In [15]:
tranches = {
    "General Manager":0.45,
    "Shift Lead":0.25,
    "Line Cook":0.20,
    "Cashier":0.10    
}

### assign nyan_strategy tokens

In [16]:
nyan_strategy_allocation = 2500000000

In [17]:
nyan_strategy_cuts = pd.qcut(
    nyan_strategy_stakers['balance'].astype(float), 
    4, 
    labels=["Cashier", "Line Cook", "Shift Lead", "General Manager"]
)

In [18]:
nyan_strategy_cuts.value_counts()

Cashier            730
General Manager    730
Line Cook          729
Shift Lead         729
Name: balance, dtype: int64

In [19]:
# set quantile column equal to the qcut each wallet belongs to
nyan_strategy_stakers['quantile'] = nyan_strategy_cuts

In [20]:
nyan_strategy_stakers[['quantile', 'balance']].sample(5)

             quantile                balance
561   General Manager  146925428808953814403
2346          Cashier     990000000000000001
2248          Cashier    1000000000000000000
1042       Shift Lead   51405054499475166540
1267       Shift Lead   26724807763446274970

In [21]:
# define the tranche multiplier for each address
nyan_strategy_stakers['tranche_multiplier'] = nyan_strategy_stakers['quantile'].map(tranches).astype(float)

In [22]:
nyan_strategy_stakers[['tranche_multiplier', 'quantile']].sample(5)

      tranche_multiplier         quantile
389                0.450  General Manager
887                0.250       Shift Lead
1206               0.250       Shift Lead
2148               0.200        Line Cook
2558               0.100          Cashier

#### calculate the airdrop numbers

In [23]:
# multiply each wallet's tranche multiplier by the total available allocation 
# divided by the max number of wallets in a tranche
nyan_strategy_stakers['airdrop_n'] = np.floor(
    nyan_strategy_stakers['tranche_multiplier']*nyan_strategy_allocation/(nyan_strategy_cuts.value_counts().mean())
    ).astype(int)

In [24]:
nyan_strategy_stakers[['address', 'balance', 'quantile', 'tranche_multiplier', 'airdrop_n']]

,address,balance,quantile,tranche_multiplier,airdrop_n
0,0x6af235d2bbe050e6291615b71ca5829658810142,133164538479811653099091,General Manager,0.450,1542152
1,0x5fb8b9512684d451d4e585a1a0aabfb48a253c67,110752296490852968420319,General Manager,0.450,1542152
2,0x6e26d91c264ab73a0062ccb5fb00becfab3acc6b,80972942317325730466459,General Manager,0.450,1542152
3,0x56968c268465bd4453cd7ea8f8376996b2702bc4,55568116019050433810642,General Manager,0.450,1542152
4,0x4ffef8e8a75c20ab0ddf96c50d2457277d27923c,48797372610356453635565,General Manager,0.450,1542152
...,...,...,...,...,...
2913,0xb616340a10f14218e5db19cdadda686a9557658b,5867591998660,Cashier,0.100,342700
2914,0xe48f56a8f621025e2b96adeccdaba85e99613228,39,Cashier,0.100,342700
2915,0x65f570384d6cc157a15eac9bfd9da88364d59b7f,36,Cashier,0.100,342700
2916,0x69d5f8e1c2b8982a17f893f2658f3adb6a14929b,36,Cashier,0.100,342700
2917,0xcbcdca647cfda9283992193604f8718a910b42fc,35,Cashier,0.100,342700

In [25]:
nyan_strategy_stakers['address'] = nyan_strategy_stakers['address'].str.lower()

### assign nyan_eth tokens

In [26]:
nyan_eth_allocation = 2000000000

In [27]:
nyan_eth_cuts = pd.qcut(
    nyan_eth_stakers['balance'].astype(float), 
    4, 
    labels=["Cashier", "Line Cook", "Shift Lead", "General Manager"]
)

In [28]:
nyan_eth_cuts.value_counts()

Cashier            122
Line Cook          122
General Manager    122
Shift Lead         121
Name: balance, dtype: int64

In [29]:
nyan_eth_stakers['quantile'] = nyan_eth_cuts

In [30]:
nyan_eth_stakers['tranche_multiplier'] = nyan_eth_stakers['quantile'].map(tranches).astype(float)

In [31]:
nyan_eth_stakers['airdrop_n'] = np.floor(
    nyan_eth_stakers['tranche_multiplier']*nyan_eth_allocation/(nyan_eth_cuts.value_counts().mean())
    ).astype(int)

In [32]:
nyan_eth_stakers[['address', 'balance', 'quantile', 'tranche_multiplier', 'airdrop_n']]

,address,balance,quantile,tranche_multiplier,airdrop_n
0,0x5c391b2edc2174bea333a508c48d8efc116d474d,3766972765692876919452,General Manager,0.450,7377049
1,0xf8fa2e5f52ad3c3c49ffa1f3f4e6f3ccefa4011e,948879249228950293678,General Manager,0.450,7377049
2,0xa9e244bacf3eb0de750b9d0d2e1930e56ccb71f3,869518384594170467225,General Manager,0.450,7377049
3,0xa99634c98c262fd6b51cb8662a9b4fd8774ca424,648413553146764282846,General Manager,0.450,7377049
4,0x329c54289ff5d6b7b7dae13592c6b1eda1543ed4,444806050824210278498,General Manager,0.450,7377049
...,...,...,...,...,...
482,0xba17a734fbbd0e96a0f10723b501c3b0249ccba0,3960583687791646,Cashier,0.100,1639344
483,0x23c7af6f2a27ae82dd8ea809082955a3ace2b5ac,3814998431368195,Cashier,0.100,1639344
484,0x26b2278cb756c28d9d6e362b6dd5e8d17844fd07,359745292939940,Cashier,0.100,1639344
485,0x2731d63bd9dcc8954a00ce371ee684f3a8073167,207116158880294,Cashier,0.100,1639344
486,0x012430f934bc381d9f59a28ea34363bce170353d,176396852288178,Cashier,0.100,1639344

In [33]:
nyan_eth_stakers['address'] = nyan_eth_stakers['address'].str.lower()

### combine and extract nyan_eth and nyan_strategy

In [34]:
df_stakers = pd.concat([
    nyan_eth_stakers,
    nyan_strategy_stakers
])[['address', 'airdrop_n', 'quantile']]

### assign compounders tokens

In [35]:
## RUN SOLIDITY SCRIPT FOR RETRIEVING COMPOUNDERS HERE ##

In [36]:
compounders = pd.read_csv(
    'COMPOUNDERS-at-block-672014-raw.csv',
    names=['address', 'block']
)

In [37]:
compounders['address'] = compounders['address'].str.lower()

In [38]:
compounders_unique = compounders.drop_duplicates('address').reset_index(drop=True)

In [39]:
compounders_unique

                                         address   block
0    0xf9711a7ae705c9676c4d4653b7666c571fdf781a   378762
1    0x31573f6f29aaf7d7fdc3baefa2e6628b693cc340   378985
2    0x2488b49db678a9598a232bf56a90433993f522c5   379218
3    0xc629b9d54cd9db31cddd0e0ed8c1bb4956baf351   379237
4    0x5fb8b9512684d451d4e585a1a0aabfb48a253c67   379585
..                                           ...     ...
743  0x86f2ee1fc531eea5879fdd1f6e7b6dc93b6ffea7   670726
744  0x4ab895352356512000ffba26a0a9f81288e2f528   670988
745  0x83b37ddd795667bce5512a1822b8b11ad1fe07ad   671208
746  0xa5a611e3455394d9b86871b8e63301a73181db63   671413
747  0x1c3168dc0399501121f889eac08d8a10a9ec09c9   671973

[748 rows x 2 columns]

In [40]:
total_compounder_allocation = 500000000

In [41]:
compounder_alloc_per_address = total_compounder_allocation/compounders_unique.shape[0]

In [42]:
compounder_alloc_per_address

668449.1978609626

In [43]:
compounders_unique['airdrop_n'] = np.floor(compounder_alloc_per_address).astype(int)

In [44]:
compounders_unique

                                         address   block  airdrop_n
0    0xf9711a7ae705c9676c4d4653b7666c571fdf781a   378762     668449
1    0x31573f6f29aaf7d7fdc3baefa2e6628b693cc340   378985     668449
2    0x2488b49db678a9598a232bf56a90433993f522c5   379218     668449
3    0xc629b9d54cd9db31cddd0e0ed8c1bb4956baf351   379237     668449
4    0x5fb8b9512684d451d4e585a1a0aabfb48a253c67   379585     668449
..                                           ...     ...        ...
743  0x86f2ee1fc531eea5879fdd1f6e7b6dc93b6ffea7   670726     668449
744  0x4ab895352356512000ffba26a0a9f81288e2f528   670988     668449
745  0x83b37ddd795667bce5512a1822b8b11ad1fe07ad   671208     668449
746  0xa5a611e3455394d9b86871b8e63301a73181db63   671413     668449
747  0x1c3168dc0399501121f889eac08d8a10a9ec09c9   671973     668449

[748 rows x 3 columns]

## export final airdrop data

In [45]:
df = pd.concat([
    df_stakers[['address', 'airdrop_n']],
    compounders_unique[['address', 'airdrop_n']]
    
])

In [46]:
df_final = df.groupby('address').sum().reset_index()

In [47]:
df_final.to_csv('arbis-airdrop-recipients-20210923.csv', index=False)

In [48]:
df_final['airdrop_n'].sum()

4996071333